
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

*{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Afacad Flux", system-ui; 
  text-align: center; 
}
html{
  font-size: 70%;
}
header{
  margin-top: 2%;  
  width: 100%;
  padding: 8px 5%;
  background-color: transparent;
  filter: drop-shadow(10px);
  display: inline-block;
  z-index: 100;
}
body{
  /*width: 100%;  can it be 100dvw?
  height: 100vh; */
  overflow-x: hidden;
  background-color: #d3eff8;
  color: #2270dd;
}
.main-image{
  margin-top: 2%;
  width: 325px;  
  border-radius: 50%;
  padding: 0.5%;
}
.logo{
  margin-top: 1%;
  font-size: 48px;
  color: #2270dd;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s ease;
}
nav{
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #d3eff8;
}
.menu{
  float: left;
  width: 5%;
  font-size: 20px;
  color: #2270dd;
  margin-top: 1%;
  margin-left: 20px;
  font-weight: 300;
  transition: 0.3s ease;
}
h1{
  font-size: 50px;
  font-weight: 400;

}
h3{
  font-size: 30px;
  font-weight: 300;
}
.icons{
  font-size: 45px;
  color: #2270dd;
  width: 20%;
  margin: 1%;
}

.logo:hover,
.menu:hover,
.icons:hover{
  transform: scale(1.1);
  color: #88b2ec;
}
nav a.icon{
  color: #2270dd;
}


