
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500;600;700&family=Shippori+Mincho&display=swap');


/*----COMMON SECTIONS----*/

*{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Maitree", "Afacad Flux", system-ui; 
  text-align: center; 
}
html{
  font-size: 70%;
}
.icons{
  font-size: 32px;
  color: #034198;
  width: 20%;
  margin: 1%;
  transition: 0.5s ease;
}
/*--HEADER - HOME--*/

body{
  /*width: 100%;  can it be 100dvw?
  height: 100vh; */
 
  background-color: #e9f9ff;
  color: #034198;
}
.main-image{
  margin-top: 15%;
  width: 325px;  
  border-radius: 50%;
  padding: 0.5%;
}
@media screen and (min-width: 760px){
.active{
  margin-left: 3%;
  padding-right: 20%;
  float: left;
  font-size: 52px;
  color: #034198;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  letter-spacing: 1px;
}
.mobile-menu{
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #d3eff8;
}
.menu{
  float: left;
  font-size: 16px;
  color: #034198;
  margin-top: 3.5%;
  margin-right: 16px;
  font-weight: 400;
  transition: 0.3s ease;
}
.bars{
  display: none;
}
}
h1{
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #034198;
}
h2{
  font-size: 35px;
  font-weight: 500;
  color: #034198;
}
h3{
  font-size: 26px;
  font-weight: 400;
  background: linear-gradient(to top,#ff00ae 0%, #013885 100%); 
  /* original:  #6699ff 0%, #ff99ff 100%
  OR update #1f57ff to #ff1fe5 or */
  background-clip: text;
  color: transparent;
}
.active:hover,
.menu:hover,
.bars:hover,
.icons:hover{
  transform: scale(1.1);
  color: #88b2ec;
}

/*--ABOUT--*/
.about{
  padding: 5%;
}
.about-d{
  font-size: 20px;
  padding: 20px;
  color: #5b99ef;
  /* background: linear-gradient(to top,#ff00ae 0%, #013885 100%); 
  original:  #6699ff 0%, #ff99ff 100%
  OR update #1f57ff to #ff1fe5 or 
  background-clip: text;
  color: transparent;*/
}
/*--SKILLS--*/
section h2,
section p{
  margin-bottom: 10px;
}
#skills{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 30px;
  color: #5b99ef;
}
.skills{
  font-size: 25px;
  font-weight: 500;
}
.img-skills{
  width: 35px;
}
.languages, 
.tools{
  padding: 20px;
}
.logos{
  font-size: 40px;
}
.html{
  color: #e34c26;
}
.css{
  color: #264de4;
}
.js{
  color: #f0db4f;
}
.py{
  color: #306998;
}
.github{
  color: #2b3137;
}
.react{
  color: #61dbfb;
}
.webflow{
  color: #146ef5;
}
/*--EDUCATION--*/
.education-d{
  padding-top: 3%;
  font-size: 20px;
  color: #5b99ef;
  line-height: 1.8;
}
.cv{
  display: inline-block;
  margin: 2%;
  padding: 15px 30px;
  background-color: #034198;
  color: #ffffff;
  text-align: center;
  border-radius: 7px;
  font-size: 20px;
}
.cv:hover{
  color: #034198;
  background-color: #88b2ec;
}
/*--CONTACT--*/
.contact{
  padding-top: 4%;
}
span{
  color: #5b99ef;
  margin: 5px;
  font-size: 18px;
  font-weight: 400;
}

/*--FOOTER--*/
#footer{   
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.name{
  font-size: 14px;
  padding-top: 1%;
  margin-top: 20px;
}
.name,
.links{
  padding: 20px;
}

/*--VIEW MENU IN MOBILE PHONE--*/

@media screen and (max-width: 760px){
  .mobile-container {
    max-width: 760px;
    margin: auto;
    color: white;
    border-radius: 10px;
  }
  .mobile-menu {
    overflow: hidden;
    background-color: #d3eff8;
    position: relative;
  }
  
  .mobile-menu #menu {
    display: none;
  }
  .mobile-menu a {
    color: #034198;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    display: block;
  }
  .mobile-menu a.bars {
    font-size: 32px;
    background: #88b2ec;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.3s ease;
  }
  .mobile-menu a:hover {
    background-color: #88b2ec;
    color: #d3eff8;
  }
  .active {
    font-size: 36px !important;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: #88b2ec;
    color: #d3eff8;
    transition: 0.3s ease;
  }
  #skills{
    display: initial;
  }
}



