
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Afacad Flux", system-ui;  
}
html{
  font-size: 70%;
}
header{
  margin-top: 1%;  
  width: 100%;
  padding: 16px 8%;
  background-color: transparent;
  filter: drop-shadow(10px);
  display: inline-block;
  z-index: 100;
}
body{
  /*width: 100%;  can it be 100dvw?
  height: 100vh; */
  overflow-x: hidden;
  background-color: #d3eff8;
  color: #2270dd;
}
img{
  background-image: url('files/images/Website Picture.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.logo{
  margin-top: 1%;
  font-size: 48px;
  color: #2270dd;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s ease;
}
nav a{
  font-size: 20px;
  color: white;
  margin-top: 1%;
  margin-left: 64px;
  float: right;
  font-weight: 300;
  transition: 0.3s ease;
  border-bottom: 1px solid;
}
.logo:hover,
.icon:hover{
  transform: scale(1.1);
  color: #88b2ec;
}
nav a:hover,
nav a.icon{
  color: #2270dd;
}


